{% load static %}

<html lang="en">

<head>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-157164478-1"></script>
	<script>
  		window.dataLayer = window.dataLayer || [];
  		function gtag(){dataLayer.push(arguments);}
  		gtag('js', new Date());
		gtag('config', 'UA-157164478-1');
	</script>



  <meta charset="utf-8">
  <title>Frailty Clocks</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700" rel="stylesheet">
  
  <!-- Bootstrap CSS File -->
  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  
  <!-- Libraries CSS Files -->
  <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">
  <link href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
    Theme Name: Rapid
    Theme URL: https://bootstrapmade.com/rapid-multipurpose-bootstrap-business-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
 
  <style>
    .tabset > input[type="radio"] {
      position: absolute;
      left: -200vw;
    }

    .tabset .tab-panel {
      display: none;
    }

    .tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
    .tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
    .tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
    .tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
    .tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
    .tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
      display: block;
    }

    body {
      font: 16px/1.5em "Overpass", "Open Sans", Helvetica, sans-serif;
      color: #333;
      font-weight: 300;
    }
    .tabset{
        padding: 19px;
        margin-bottom: 20px;
        background-color: #ffffff;
        border: 1px solid #e3e3e3;
        border-radius: 11px;
    }

    .tabset > label {
      position: relative;
      display: inline-block;
      padding: 15px;
      border: 1px solid transparent;
      border-bottom: 0;
      cursor: pointer;
      font-weight: 600;
    }
    label{
        margin-bottom:0!important;
    }

    .tabset > label::after {
      content: "";
      position: absolute;
      left: 15px;
      bottom: 10px;
      width: 22px;
      height: 4px;
      background: #8d8d8d;
    }

    .tabset > label:hover,
    .tabset > input:focus + label {
      color: #5FBDE0;
    }

    .tabset > label:hover::after,
    .tabset > input:focus + label::after,
    .tabset > input:checked + label::after {
      background: #5FBDE0;
    }

    .tabset > input:checked + label {
      border-color: #ccc;
      border-bottom: 1px solid #fff;
      margin-bottom: -1px;
    }

    .tab-panel {
      padding: 30px 0;
      border-top: 1px solid #ccc;
    }

    *,
    *:before,
    *:after {
      box-sizing: border-box;
    }

    .tabset {
      max-width: 65em;
    }

    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }
    #uploadform{
        padding: 19px;
        margin-bottom: 20px;
        background-color: #ffffff;
        border: 1px solid #e3e3e3;
        border-radius: 11px;
    }
      #chooseform{
        margin-bottom: 20px;
        overflow: hidden;
        background-color: #f5f5f5;
        border-radius: 4px;
        padding: 5px;
      }
      #Resultword , #sampleword,#inputdata{
          display: inline-block;
          float: right;
      }
      .section-header p{
          padding-bottom: 20px;
      }
      .graphaa {z-index:0;}
      .graphaaover {z-index:1;color: #0a98c0;}
      
      .center {
  		display: block;
  		margin-left: auto;
  		margin-right: auto;
  		width: 50%;
		}
		
		.center2 {
  		display: block;
  		margin-left: auto;
  		margin-right: auto;
  		width: 100%;
		}
		
		.myButton {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	background-color:#f9f9f9;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	background-color:#e9e9e9;
}
.myButton:active {
	position:relative;
	top:1px;
}

</style>
</head>


<body style="background-color: #f2f2f2">

  <main id="main">
      <p></p>
    <section id="analyze" class="wow fadeIn">
      <div class="container-fluid">
		
		<!--Title-->
        <div class="section-header"> 
          <h1 style="text-align:center"><strong>FRIGHT age and AFRAID clocks</strong></h1>
        </div>

        <div class="row">

		<!--Upload side box-->
          <div class="col-lg-3" >
              <div id="uploadform">
                  <form method="post" action="{% url 'upload' %}" accept=".csv" enctype="multipart/form-data" id="chooseform">
                    {% csrf_token %}
                    <input type="file" name="document" id="filename">
                    <button type="submit" class="uploadfile">Analyze</button>
                  </form>
                  <br>
                  <p style="padding:0 0%;">Download: <a href="{{ examplepath }}"  id="sampleword" download="Example_Data.csv"> Example Data </a></p>
                  <br>
                  <p style="padding:0 0%;"> Download: <a href="{{ resultpath }}"  id="Resultword" download="Analyzed_Data.csv"> Analyzed Data </a><span style="display: inline-block" id="inputdata">No Analyzed Data</span></p>

              </div>
          </div>
          
          <!--Main box-->
          <div class="col-lg-9">
           <div class="tabset">
              <!-- Tab 1 Title-->
              <input type="radio" name="tabset" id="tab1" aria-controls="marzen" checked>
              <label for="tab1">About the Clocks</label>
              <!-- Tab 2 Title-->
              <input type="radio" name="tabset" id="tab2" aria-controls="rauchbier" >
              <label for="tab2">Scoring Frailty</label>
              <!-- Tab 3 Title-->
              <input type="radio" name="tabset" id="tab3" aria-controls="rauchbier">
              <label for="tab3" class="analyzetag">Analyzed Data</label>
              
            <!--Tab 1, Description-->  
            <div class="tab-panels">
              <section id="description" class="tab-panel">
                <p>This webapp deploys machine learning-derived models to predict age and lifespan from the frailty assessment of mice aged 21 months or older.
                These clocks are based on random forest regressions, trained on a naturally aging population of male C57Bl6/NIA mice <a href="https://www.nature.com/articles/s41467-020-18446-0" target="_blank">(Schultz, Kane, et al., 2020)</a>.
				<br><br>
                <strong>FRIGHT age</strong> (<u>Fr</u>ailty <u>I</u>nferred <u>G</u>eriatric <u>H</u>ealth <u>T</u>imeline) is a measure of a mouse's apparent chronological age.
                <br>
                <strong>The AFRAID clock</strong> (<u>A</u>nalysis of <u>Frai</u>lty and <u>D</u>eath) is a prediction of a mouse’s life expectancy.
				<br><br>
				The clocks can be run on this webapp by uploading your frailty data in the box on the left, or  on users' computers in Python with the models available on <a href="https://github.com/SinclairLab/frailty" target="_blank">our repository</a>.
                
                <p style="font-size:90%; margin-left:5%; margin-right:5%;">
                <img src="{% static 'Paper_Figures.pdf' %}" class="center2" onerror="if (this.src != 'Paper_Figures.jpg') this.src = '{% static 'Paper_Figures.jpg' %}';">
                <br><strong>Development of frailty-based clocks:</strong> 
                (a) Box and whisker plots for frailty index (FI) score for mice from 21 to 36 months of age.
                (b) Random forest regression of the individual frailty index items for chronological age on testing dataset (FRIGHT age).
                (c) Random forest regression of the individual frailty index items for life expectancy on testing datasets, plotted against actual survival by age group (AFRAID clock). 
                
                </p>
                
                
                <p><strong>Using the clocks:</strong></p>
                  <ol>
                      <li>Measure the mouse clinical frailty index (FI) as described in the Scoring Fraily tab.
                      <li>Calculate weight variables (recent and total weight change, threshold weight change, and body weight standard deviation) as described in Schultz et al., 2020, or to your closest approximation.</li>
                      <li>Put your data in the same format as the example datasheet, with each column representing an FI variable and each row representing an individual mouse/assessment. The variable names must exactly match the names in the example datasheet. If group names are included, the sheet must be sorted by group. The models will not run with missing data (see the Note below for dealing with missing datapoints).</li>
                      <li>Upload your datasheet on left using the "Choose File" and "Analyze" buttons. The resulting FRIGHT age and AFRAID scores for each mouse  will be added to your datasheet, and can be downloaded using the "Download: Analyzed Data" link on the left. A preview of your data can be viewed under the Analyzed Data tab.</li>
                  </ol>
                  <p><strong>Note:</strong> If an error message is generated, check the following: (1) that your .csv file is formatted exactly the same as the example data; (2) if group names are included, that the file is sorted by group; and (3) that there are no missing values. If missing datapoints exist, we recommend substituting the missing value with the average value for age-matched mice in your cohort, as the best approximation.</p>
                  
                <u>References</u>
				<br><br>  Schultz, M.B.*, Kane, A.E.*, Mitchell, S.J., MacArthur, M.R., Warner, E., Vogel D.S., Mitchell, J.R., Howlett, S.E., Bonkowski, M.S., and Sinclair, D.A. (2020). Age and life expectancy clocks based on machine learning analysis of mouse frailty. Nat Commun. 11, 4618. (*These authors contributed equally.) <a href="https://www.nature.com/articles/s41467-020-18446-0" target="_blank">link</a>
				<br><br>  Whitehead, J.C., Hildebrand, B.A., Sun, M., Rockwood, M.R., Rose, R.A., Rockwood, K., and Howlett, S.E. (2014). A clinical frailty index in aging mice: comparisons with frailty index data in humans. J. Gerontol. A Biol. Sci. Med. Sci. 69, 621–632. <a href="https://www.ncbi.nlm.nih.gov/pubmed/24051346" target="_blank">link</a>
				<br><br> Sinclair Lab website <a href="https://genetics.med.harvard.edu/sinclair/" target="_blank">link</a>
				<br><br> Howlett Lab website <a href="https://www.dal.ca/sites/heart-health.html" target="_blank">link</a>
				<br><br>
                
                <img src="{% static 'mouseImage.jpg' %}" class="center">
              </section>    
              
              <!--Tab 2, Scoring Fraility-->  
              <section id="scoring" class="tab-panel">
              	<p>A detailed description of each of the items included in the mouse clinical frailty index can be found in the following papers:
              	<p style="font-size:100%; margin-left:2%; margin-right:2%;">
              	Whitehead, J.C., Hildebrand, B.A., Sun, M., Rockwood, M.R., Rose, R.A., Rockwood, K., and Howlett, S.E. (2014). A clinical frailty index in aging mice: comparisons with frailty index data in humans. J. Gerontol. A Biol. Sci. Med. Sci. 69, 621–632. <a href="https://www.ncbi.nlm.nih.gov/pubmed/24051346" target="_blank">link</a>
              	<br><br>Feridooni, H.A., Sun, M.H., and Howlett, S.E. (2015). Reliability of a frailty index based on the clinical assessment of health deficits in male C57BL/6J mice. J. Gerontol. A Biol. Sci. Med. Sci. 6, 686-693. <a href="https://www.ncbi.nlm.nih.gov/pubmed/25205762" target="_blank">link</a>
              	<br><br>Kane, A.E., Ayaz, O., Ghimire, A., Feridooni, H.A., and Howlett, S.E. (2017). Implementation of the mouse frailty index. Can. J. Physiol. Pharmacol. 10, 1149-1155. <a href="https://www.ncbi.nlm.nih.gov/pubmed/28463656" target="_blank">link</a>
              	</p>
				Also, please refer to our <a href="https://github.com/SinclairLab/frailty/blob/master/FI%20items%20reference%20sheet.pdf" target="_blank">FI items reference sheet</a>, and our video overview below.
              	<br><br>
              	We recommend recording data using our <a href="https://github.com/SinclairLab/frailty/blob/master/Frailty%20Form.pdf" target="_blank">scantron score sheet</a> to enhance speed and reliability of data entry. Score sheets can be uploaded and read at <a href="http://formread.org" target="_blank">formread.org</a> to produce data in an Excel format. Contact [alice_kane AT hms.harvard.edu] for a formread.org template.</li>
              	<br><br>
              	The  FI score is the average of the items assessed, from 0 (not frail) to 1 (most frail). To calculate FRIGHT age (apparent chronological age) and AFRAID scores (life expectancy), please see the About the Clocks tab.
              	<br><br>
              	<strong>Video introduction to the mouse clinical frailty index:</strong>
              	<br><br>
              	<div style="text-align: center;">
              	<iframe width="889" height="500" src="https://www.youtube.com/embed/pTgk8wbUd1g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
             	</div>
              </section>                
                
                
              <!--Tab 3, Analyzed Data-->    
              
              <section id="analyzedata" class="tab-panel">
              <p id="inputdata">No data has been uploaded/analyzed. 
              <br><br>Use the box on the left to select your frailty index data with the "Choose File" button. Then hit the "Analyze" button. A preview of your analyzed data can be viewed in this tab. You can download your data with the "Download: Analyzed Data" link in the box on the left.</p>
                  <div style="height: 410px;" class="">
                      <div id="chartContaineraa" style="height: 400px; max-width: 100%; margin: 0px auto;"></div>
                  <div  style="width: 100px; height: 7px;"></div>
                  </div>
                  <div id="chartContainerbb" style="height: 400px; max-width: 100%; margin: 0px auto;"></div>
                  <div style="width: 100px; height: 7px;"></div>
                <div>
                  <table>
                      <tr>

                        <th>Group</th>
                        <th>FRIGHT mean (months)</th>
                        <th>FRIGHT median</th>
                        <th>FRIGHT SD</th>

                        <th>AFRAID mean (months)</th>
                        <th>AFRAID median</th>
                        <th>AFRAID SD</th>
                        
                      </tr>
                      {% for eachgroup in resultdata %}
                      <tr>

                          <td>{{eachgroup.groupname}}</td>
                          
                          <td>{{eachgroup.frightmean}}</td>
                          <td>{{eachgroup.frightmedian}}</td>
                          <td>{{eachgroup.frightstd}}</td>
                          
                          <td>{{eachgroup.afraidmean}}</td>
                          <td>{{eachgroup.afraidmedian}}</td>
                          <td>{{eachgroup.afraidstd}}</td>
                          
                      </tr>
                      {% endfor %}
                  </table>
                </div>
              </section>
            </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- JavaScript Libraries -->
  <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'lib/jquery/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'lib/easing/easing.min.js' %}"></script>
  <script src="{% static 'lib/mobile-nav/mobile-nav.js' %}"></script>
  <script src="{% static 'lib/wow/wow.min.js' %}"></script>
  <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
  <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'lib/isotope/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'lib/lightbox/js/lightbox.min.js' %}"></script>
  <!-- Contact Form JavaScript File -->
  <script src="{% static 'contactform/contactform.js' %}"></script>
  <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
  <!-- Template Main Javascript File -->
  <script src="{% static 'js/main.js' %}"></script>
<script src="https://www.w3schools.com/lib/w3.js"></script>
<script type="text/javascript">
    window.onload = function () {
        resultpath="{{resultpath}}";
        if (resultpath!=""){
             $("#inputdata").hide();
        }else{
            $("#Resultword").hide();
        }
    }
</script>
<script type="text/javascript" src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
<script>
     $(document).ready(function(){
         var graphdata;
         groupnumber = {{ testnumber }};
         console.log(groupnumber);
         $(".canvasjs-chart-credit").hide();
         $(".analyzetag").click(function(){
             $.ajax({
                 url:"{% url 'graphdata' %}",
                 type:"GET",
                 data:{
                     testnumber:groupnumber,
                 },
                 success:function(result) {
                 
//FRIGHT age                 
                 
                     shape=['circle',''];
                     datalist = [];
                     graphdata = result;
                     maxvalue=0;
                     minvalue=0;
                     frightlist = graphdata.frightlist;
                     namelist=graphdata.namelist;
                     group_averages = [];
                     
 
                    x_value=0;
                    minvalue=parseInt(frightlist[0]);
                    maxvalue=parseInt(frightlist[0]);
                     for (i = 0; i < frightlist.length; i++) {
                         dataPointsinner = [];
                         eachfrightlist = graphdata.frightlist[i];
                         eachfrightlist = eachfrightlist.split(',');
                         averagefright=0;
                         left_indent=5;
                         group_space=10;
                         for (j = 0; j < eachfrightlist.length; j++) {
                             y_value=0;
                             eachdataPoints = {x: x_value=left_indent+i*group_space+2*Math.random()-1, y: y_value=parseInt(eachfrightlist[j])};
                             averagefright=averagefright+y_value;
                             if(y_value>maxvalue) {
                                 maxvalue=y_value;}
                             if(y_value<minvalue){
                                 minvalue=y_value;}
                             dataPointsinner.push(eachdataPoints);
                         }
                         averagefright=parseInt(averagefright/eachfrightlist.length);
                         average_point = {x: left_indent+i*group_space, y:averagefright};
                         dataPointsinner.join();
                         groupname=namelist[i];
                         eachdatalist={};
                         eachdatalist = {
                             type: "scatter",
                             name: groupname,
                             showInLegend: true,
                             markerType: "circle",
                             toolTipContent: "<span>{name}</span><br>Fright_Age: {y}",
                             dataPoints: dataPointsinner,
                         };
                         datalist.push(eachdatalist);
                         group_averages.push(average_point);  
                     }
                     
                     averages ={};
                     averages = {
                     	type: "scatter",
                        name: "Means",
                        showInLegend: true,
                        color: "black",
                        markerSize: 15,
                        markerType: "cross",
                        toolTipContent: "<span>Mean</span><br>Fright_Age: {y}",
                        dataPoints: group_averages,
                        };
                     datalist.push(averages);

                     var optionsaa = {
                         animationEnabled: true,
                         title: {
                             text: "FRIGHT age",
                             fontFamily: "tahoma"
                         },
                         axisX: {
                             title: "",
                             minimum: 0,
                             maximum: 2*left_indent + (frightlist.length - 1)*group_space,
                             tickColor: "white",
                             labelFormatter: function (e) {
							 	return "";
								},
                         },
                         axisY: {
                             title: "Phenotypic age (days)",
                             suffix: "",
                             minimum: minvalue-20,
                             maximal: maxvalue+20
                         },
                         legend: {
                             cursor: "pointer",
                             itemclick: toggleDataSeries
                         },
                          data: datalist,

                     };
                     $("#chartContaineraa").CanvasJSChart(optionsaa);
                     
//AFRAID clock 
                     
                     maxvalue=0;
                     minvalue=0;
                     afraidlist = graphdata.afraidlist;
                     namelist=graphdata.namelist;
                     group_averages = [];
                     datalist = [];	
                     x_value=0;
                     minvalue=parseInt(afraidlist[0]);
                     maxvalue=parseInt(afraidlist[0]);
                     for (i = 0; i < afraidlist.length; i++) {
                         dataPointsinner = [];
                         eachafraidlist = graphdata.afraidlist[i];
                         eachafraidlist = eachafraidlist.split(',');
                         
                         averageafraid=0;
                         left_indent=5;
                         group_space=10;
                         for (j = 0; j < eachafraidlist.length; j++) {
                             y_value=0;
                             eachdataPoints = {x: x_value=left_indent+i*group_space+2*Math.random()-1, y: y_value=parseInt(eachafraidlist[j])};
                             averageafraid=averageafraid+y_value;
                             if(y_value>maxvalue) {
                                 maxvalue=y_value;}
                            if(y_value<minvalue){
                                 minvalue=y_value;}
                             dataPointsinner.push(eachdataPoints);
                         }
                         averageafraid=parseInt(averageafraid/eachafraidlist.length);
                         average_point = {x: left_indent+i*group_space, y:averageafraid};
                         dataPointsinner.join();
                         groupname=namelist[i];
                         eachdatalist={};
                         eachdatalist = {
                             type: "scatter",
                             name: groupname,
                             showInLegend: true,
                             markerType: "circle",
                             toolTipContent: "<span>{name}</span><br>AFRAID score: {y}",
                             dataPoints: dataPointsinner,
                         };
                         datalist.push(eachdatalist);
                         group_averages.push(average_point);  
                     }
                     
                     averages ={};
                     averages = {
                     	type: "scatter",
                        name: "Means",
                        showInLegend: true,
                        color: "black",
                        markerSize: 15,
                        markerType: "cross",
                        toolTipContent: "<span>Mean</span><br>AFRAID score: {y}",
                        dataPoints: group_averages,
                        };
                     datalist.push(averages);

                     var optionsbb = {
                         animationEnabled: true,
                         title: {
                             text: "AFRAID clock",
                             fontFamily: "tahoma"
                         },
                         axisX: {
                             title: "",
                             minimum: 0,
                             maximum: 2*left_indent + (frightlist.length - 1)*group_space,
                             tickColor: "white",
                             labelFormatter: function (e) {
							 	return "";
								},
                         },
                         axisY: {
                             title: "Life expectancy (days)",
                             suffix: "",
                             minimum: 0,
                             maximal: maxvalue+20,
                             interval: 20,
                         },
                         legend: {
                             cursor: "pointer",
                             itemclick: toggleDataSeries
                         },
                          data: datalist,

                     };

                     $("#chartContainerbb").CanvasJSChart(optionsbb);
                     $(".canvasjs-chart-credit").hide();
                 }
             });
         });
         function toggleDataSeries(e) {
            if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                e.dataSeries.visible = false;
            } else {
                e.dataSeries.visible = true;
            }
            e.chart.render();
        }
     });
</script>

</body>
</html>
